
<sly data-sly-test.author="${wcmmode.edit}">
	Edit ${component.title} Component
</sly>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='productListClientLibs'}"></sly>
</sly>

<div class="center">
    <h2>List of product ids need to be fetched from product api and cached in AEM</h2>
    <sly data-sly-use.productListModel="mindtreeAssessmentProject.core.models.ProductListModel">
        <table>
            <th>Product Ids</th>
            <sly data-sly-list.productItem="${productListModel.productIdsList}">
                <tr><td>${productItem}</td><tr>
            </sly>
        </table>
    </sly>
</div>
